a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  clip-path: inset(-20px -68px -47px 0px);
}

$attached-bottom-nav-height: 2.8rem;

.navbar-back-navigation {
  border-radius: 0 0 5px;
  width: auto;
  height: $attached-bottom-nav-height;
  background-color: white;

  mat-icon {
    padding-left: 0.5rem;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
  }

  p {
    padding-left: 0.5rem;
    padding-right: 1rem;
    margin-top: auto;
    margin-bottom: auto;
  }

  &:hover {
    p {
      text-decoration: underline;
      text-decoration-thickness: 1.5px;
    }
  }
}

.bottom-navbar-shadow-holder {
  width: 100%;
  transform: translateY(-100%);
  pointer-events: none;
  height: 10px;
}

.nav-button-outer-container {
  height: $attached-bottom-nav-height;
  margin-left: 1.5rem;
}

.nav-button-container {
  gap: 0.5rem;
  display: flex;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  width: fit-content;
  padding: 0.25rem;
  transform: translateY(-0.25rem);
  border-radius: 20rem;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none; /*firefox*/

  &::-webkit-scrollbar {
    display: none; /*chromium*/
  }
  scroll-behavior: smooth;
}

.navbar-logo {
  height: 50px;
  position: absolute;
  left: 50%;
  right: 50%;
}

.nav-container {
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
}

@mixin scroll-button {
  position: absolute;
  z-index: 1000;
  background-color: white;
  margin-top: auto;
  margin-bottom: auto;
  pointer-events: auto;
  width: 2rem;
  height: 2rem;

  .mat-icon {
    transform: translate(-25%, -25%);
    overflow: visible;
  }
}

.right-scroll-button {
  @include scroll-button;
  right: 0;
  transform: translateX(25%);
}

.left-scroll-button {
  @include scroll-button;
  left: 0;
  transform: translateX(-25%);
}
