@import "/src/mixins.scss";

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  clip-path: inset(-20px -68px -47px 0px);
}

$attached-bottom-nav-height: 2.8rem;

.navbar-back-navigation {
  border-radius: 0 0 5px;
  width: auto;
  height: $attached-bottom-nav-height;
  background-color: white;

  mat-icon {
    padding-left: 0.5rem;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
  }

  p {
    padding-left: 0.5rem;
    padding-right: 1rem;
    margin-top: auto;
    margin-bottom: auto;
  }

  &:hover {
    p {
      text-decoration: underline;
      text-decoration-thickness: 1.5px;
    }
  }
}

.bottom-navbar-shadow-holder {
  width: 100%;
  transform: translateY(-100%);
  pointer-events: none;
  height: 10px;
  clip-path: inset(-20px 0px -47px 0px);
}

.nav-button-outer-container {
  height: $attached-bottom-nav-height;
  margin-left: 1.5rem;
}

.nav-button-container {
  $chip-radius: 20rem;
  display: flex;
  border-radius: $chip-radius;
  width: fit-content;
  transform: translateY(-0.25rem);
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none; /*firefox*/

  &::-webkit-scrollbar {
    display: none; /*chromium*/
  }
  scroll-behavior: smooth;

  > div {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    gap: 0.5rem;
    padding: 0.25rem;

    &:last-child {
      border-radius: 0 $chip-radius $chip-radius 0;
    }

    &:first-child {
      border-radius: $chip-radius 0 0 $chip-radius;
    }
  }
}

.navbar-logo {
  height: 50px;
  position: absolute;
  left: 50%;
  right: 50%;
}

.nav-container {
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
}

@mixin scroll-button($deg) {
  position: absolute;
  z-index: 1000;
  pointer-events: auto;
  width: 2rem;
  height: 2rem;
  background-color: white;
  background: linear-gradient(
    $deg,
    rgb(255, 255, 255) 75%,
    rgba(255, 255, 255, 0) 100%
  );

  .mat-icon {
    transform: translate(-25%, -25%);
    overflow: visible;
  }
}

.right-scroll-button {
  @include scroll-button(90deg);
  right: 0;
  transform: translateX(25%);
}

.left-scroll-button {
  @include scroll-button(270deg);
  left: 0;
  transform: translateX(-25%);
}

.messages-panel {
  display: flex;
  min-width: 40vw;
  max-width: 40vw;
  background: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 0 25px;
  overflow: auto;
  z-index: 1000;

  @include scrollbar-width;
}
