<header>
  <div #placeholder></div>
  <div class="nav-container pe-none" #navContainer>
    <nav class="navbar navbar-light bg-white pe-auto">
      <div class="container">
        <div class="ms-auto">
          <h5 class="mb-0 d-none d-sm-block current-page">
            {{ currentPageName }}
          </h5>
        </div>
        <div class="d-flex ms-auto">
          <ul class="navbar-nav flex-grow d-flex flex-row">
            <li>
              <button mat-icon-button>
                <mat-icon>favorite</mat-icon>
              </button>
            </li>
            <li>
              <button mat-icon-button (click)="toggleMessages()">
                <mat-icon>local_post_office</mat-icon>
              </button>
            </li>
            <li>
              <button mat-icon-button [matMenuTriggerFor]="logOutMenu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #logOutMenu="matMenu">
                <button mat-menu-item>Log Out</button>
              </mat-menu>
            </li>
          </ul>

          <button
            class="navbar-toggler ms-auto"
            type="button"
            (click)="toggle()"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </nav>
    <div class="d-flex w-100 pe-none">
      <div
        *ngIf="showBack"
        class="d-flex navbar-back-navigation box-shadow cursor-pointer pe-auto"
        (click)="goBack()"
      >
        <mat-icon>keyboard_return</mat-icon>
        <p class="text-nowrap">
          return to <span class="fw-bold">{{ lastRoute!.name }}</span>
        </p>
      </div>
      <div class="w-100 pe-none">
        <div class="bottom-navbar-shadow-holder box-shadow"></div>
        <div class="d-sm-none pe-auto w-100 d-flex justify-content-center">
          <div class="bottom-current-page">
            <h3 class="mb-0">{{ currentPageName }}</h3>
          </div>
        </div>
        <div
          class="pe-none position-relative nav-button-outer-container d-none d-sm-block"
        >
          <button
            *ngIf="showLeftScrollButton$ | async"
            class="left-scroll-button"
            mat-icon-button
            (click)="scrollLeft()"
          >
            <mat-icon>keyboard_arrow_left</mat-icon>
          </button>
          <div
            class="nav-button-container pe-auto position-absolute w-100"
            #scrollContainer
          >
            <div>
              <div
                *ngFor="let page of pages; first as first; last as last"
                [class.first-button-container]="first"
                [class.last-button-container]="last"
              >
                <button
                  (click)="currentPageId = page.id"
                  *ngIf="currentPageUrl === page.url"
                  mat-flat-button
                  color="primary"
                  routerLink="{{ page.url }}"
                >
                  {{ page.name }}
                </button>
                <button
                  (click)="currentPageId = page.id"
                  *ngIf="currentPageUrl !== page.url"
                  mat-stroked-button
                  color="primary"
                  routerLink="{{ page.url }}"
                >
                  {{ page.name }}
                </button>
              </div>
            </div>
          </div>
          <button
            class="right-scroll-button"
            mat-icon-button
            (click)="scrollRight()"
            *ngIf="showRightScrollButton$ | async"
          >
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </div>
      </div>
      <div
        [@slideInOut]
        *ngIf="showMessages"
        class="messages-panel p-3 pt-0 pe-auto"
        #messagesPanel
      >
        <app-message-manager class="w-100"></app-message-manager>
      </div>
    </div>
  </div>
  <div class="full-screen-menu" *ngIf="showFullScreenMenu">
    <button mat-fab (click)="toggle()">
      <mat-icon>close</mat-icon>
    </button>
    <ul>
      <li *ngFor="let page of pages; last as last" (click)="toggle()">
        <h3>
          <a class="d-block p-1" routerLink="{{ page.url }}">{{ page.name }}</a>
        </h3>
        <mat-divider *ngIf="!last"></mat-divider>
      </li>
    </ul>
  </div>
</header>
