<header>
  <div #placeholder></div>
  <div class="nav-container pe-none" #navContainer>
    <nav
      class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white pe-auto"
    >
      <div class="container">
        <h5 class="mb-0">{{ currentPageName }}</h5>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target=".navbar-collapse"
          aria-label="Toggle navigation"
          [attr.aria-expanded]="isExpanded"
          (click)="toggle()"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <img class="navbar-logo" src="/assets/logos/onibi_plain_s.svg" />
        <div
          class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
          [ngClass]="{ show: isExpanded }"
        >
          <ul class="navbar-nav flex-grow">
            <!--
            <li
              class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link text-dark" [routerLink]="['/counter']"
                >Counter</a
              >
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link text-dark" [routerLink]="['/fetch-data']"
                >Fetch data</a
              >
            </li>
            -->
            <li>
              <button mat-icon-button>
                <mat-icon>favorite</mat-icon>
              </button>
            </li>
            <li>
              <button mat-icon-button>
                <mat-icon>search</mat-icon>
              </button>
            </li>
            <li>
              <button mat-icon-button [matMenuTriggerFor]="logOutMenu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #logOutMenu="matMenu">
                <button mat-menu-item>Log Out</button>
              </mat-menu>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="d-flex w-100 pe-none">
      <div
        *ngIf="showBack"
        class="d-flex navbar-back-navigation box-shadow cursor-pointer pe-auto"
        (click)="goBack()"
      >
        <mat-icon>keyboard_return</mat-icon>
        <p class="text-nowrap">
          return to <span class="fw-bold">{{ lastRoute!.name }}</span>
        </p>
      </div>
      <div class="w-100 pe-none">
        <div class="bottom-navbar-shadow-holder box-shadow"></div>
        <div class="pe-none position-relative nav-button-outer-container">
          <button
            *ngIf="showLeftScrollButton$ | async"
            class="left-scroll-button"
            mat-icon-button
            (click)="scrollLeft()"
          >
            <mat-icon>keyboard_arrow_left</mat-icon>
          </button>
          <div
            class="nav-button-container pe-auto position-absolute w-100"
            #scrollContainer
          >
            <div
              *ngFor="let page of pages; index as i"
              [id]="
                pages.length - 1 === i
                  ? 'last-button-container'
                  : i === 0
                  ? 'first-button-container'
                  : ''
              "
            >
              <button
                (click)="currentPageId = page.id"
                *ngIf="currentPageUrl === page.url"
                mat-flat-button
                color="primary"
                routerLink="{{ page.url }}"
              >
                {{ page.name }}
              </button>
              <button
                (click)="currentPageId = page.id"
                *ngIf="currentPageUrl !== page.url"
                mat-stroked-button
                color="primary"
                routerLink="{{ page.url }}"
              >
                {{ page.name }}
              </button>
            </div>
          </div>
          <button
            class="right-scroll-button"
            mat-icon-button
            (click)="scrollRight()"
            *ngIf="showRightScrollButton$ | async"
          >
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
