<div class="container d-flex flex-column">
  <button
    mat-flat-button
    color="primary"
    [disabled]="loading"
    class="mb-3 ms-auto"
    (click)="openAddRestaurantDialog()"
  >
    Add Restaurant
  </button>
  <div class="row">
    <label class="mb-1" for="queryInput">Search Restaurant</label>
    <mat-form-field appearance="outline">
      <input
        id="queryInput"
        matInput
        placeholder="Type Restaurant Id Or Address"
        (keyup)="handleOnChange($event)"
      />
    </mat-form-field>
  </div>

  <h5>Returned {{ numberOfRestaurants }} Restaurants</h5>

  <mat-list>
    <div class="spinner-container" *ngIf="loading">
      <mat-spinner></mat-spinner>
    </div>
    <mat-list-item *ngFor="let restaurant of filteredRestaurants$ | async">
      <span matListItemTitle>{{ restaurant.id }}</span>
      <span matListItemLine>{{ restaurant.street }}</span>
      <span matListItemLine>{{ restaurant.postalCode }}</span>
      <span matListItemLine>{{ restaurant.city }}</span>
      <span matListItemLine>{{ restaurant.country }}</span>
    </mat-list-item>
  </mat-list>
</div>
