<div class="d-flex justify-content-center col">
  <div class="col-12 col-md-9 col-lg-5 d-flex flex-column">
    <form [formGroup]="loginForm" class="col">
      <img class="w-100 mb-5" src="/assets/logos/onibi.svg" />
      <div class="row">
        <label class="mb-1" for="loginInput">Login</label>
        <mat-form-field appearance="outline">
          <input
            id="loginInput"
            matInput
            placeholder="Login"
            formControlName="login"
          />
        </mat-form-field>
      </div>
      <div class="row">
        <label class="mb-1" for="passwordInput">Password</label>
        <mat-form-field appearance="outline">
          <input
            type="{{ showPassword ? 'text' : 'password' }}"
            id="passwordInput"
            matInput
            placeholder="Password"
            formControlName="password"
          />
          <mat-icon
            class="cursor-pointer"
            matSuffix
            (click)="showPassword = !showPassword"
            [ngStyle]="{ opacity: showPassword ? '100%' : '50%' }"
            >remove_red_eye</mat-icon
          >
        </mat-form-field>
      </div>
      <div class="col d-flex justify-content-around mt-3">
        <button
          type="button"
          mat-flat-button
          color="accent"
          (click)="clearLoginForm()"
        >
          Clear
        </button>
        <button type="submit" mat-flat-button color="primary">Login</button>
      </div>
    </form>
    <span class="gray-text-color disclaimer">
      Unauthorized access is strictly prohibited. All activities on this website
      are tracked and monitored. Any unauthorized access will result in
      consequences, including legal action. By logging in, you agree to these
      terms.
    </span>
  </div>
</div>
