<div class="container">
  <div class="section-container d-flex flex-column">
    <div class="d-flex">
      <div class="col-lg-5 col-6 ms-auto pe-4">
        <h2>Welcome to the Future of Restaurant Management</h2>
        <h4>
          Welcome to the future of restaurant management with our cutting-edge
          platform. Say goodbye to the complexities of running a fast-food
          restaurant, and say hello to simplicity and efficiency. Our
          user-friendly website is designed with managers like you in mind,
          making your job easier and more streamlined.
        </h4>
      </div>
      <img class="col-lg-4 col-6 rounded" src="/assets/imgs/manager.jpg" />
    </div>
    <div class="d-flex">
      <img class="col-lg-4 col-6 rounded" src="/assets/imgs/delivery.jpg" />
      <div class="col-lg-5 col-6 ps-4 me-auto">
        <h2>Instant Driver Notifications</h2>
        <h4>
          Whether it's a sudden need for ingredients or an urgent order to be
          delivered, our app ensures that your drivers are always in the loop.
          Send instant notifications to your drivers, specifying the pick-up and
          drop-off locations, and watch as they spring into action.
        </h4>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-lg-5 col-6 ms-auto pe-4">
        <h2>Cost-effective Solution</h2>
        <h4>
          No need for expensive software or additional staff. We offer a
          cost-effective solution that maximizes your profitability and
          minimizes your workload.
        </h4>
      </div>
      <img class="col-lg-4 col-6 rounded" src="/assets/imgs/blueprint.jpg" />
    </div>
  </div>
</div>
