<div class="container">
  <div class="row text-center mt-4">
    <div class="col-md-4">
      <div class="d-inline-flex gap-2">
        <button
          type="button"
          mat-flat-button
          color="accent"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Previous
        </button>
        <button
          type="button"
          mat-flat-button
          color="accent"
          mwlCalendarToday
          [(viewDate)]="viewDate"
        >
          Today
        </button>
        <button
          type="button"
          mat-flat-button
          color="accent"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Next
        </button>
      </div>
    </div>
    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate : view + "ViewTitle" : "en" }}</h3>
    </div>
    <div class="col-md-4">
      <mat-button-toggle-group [(ngModel)]="view" style="border-radius: 20rem">
        <mat-button-toggle value="{{ CalendarView.Month }}"
          >Month</mat-button-toggle
        >
        <mat-button-toggle value="{{ CalendarView.Week }}"
          >Week</mat-button-toggle
        >
        <mat-button-toggle value="{{ CalendarView.Day }}"
          >Day</mat-button-toggle
        >
      </mat-button-toggle-group>
    </div>
  </div>
  <br />
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-day-view>
  </div>
</div>

<!--modify schedule-->

<div class="content-top-shadow-container mt-5">
  <div class="spinner-container" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="content-container-header d-flex">
    <h4>Edit Schedule</h4>
    <button
      type="button"
      class="ms-auto"
      mat-flat-button
      color="primary"
      [disabled]="!canAddNewEvent || loading"
      (click)="addEvent()"
    >
      Add New Event
    </button>
  </div>
  <div class="mat-elevation-z8 container table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Title</th>
          <th class="color-column-tr">Priority</th>
          <th>Date Range</th>
          <th>Employees</th>
          <th class="action-column-tr">Action</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="!!workingSchedule">
          <ng-container
            *ngTemplateOutlet="
              tableRow;
              context: {
                event: workingSchedule,
                onDelete: clearWorkingSchedule,
                onAction: createEvent,
                actionButtonText: 'Add',
                isNewRow: true
              }
            "
          ></ng-container>
        </ng-container>
        <ng-container *ngFor="let event of scheduleItems">
          <ng-container
            *ngTemplateOutlet="
              tableRow;
              context: {
                event: event,
                onDelete: deleteEvent,
                onAction: updateEvent,
                actionButtonText: 'Update'
              }
            "
          ></ng-container>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>

<ng-template
  #tableRow
  let-event="event"
  let-onDelete="onDelete"
  let-actionButtonText="actionButtonText"
  let-isNewRow="isNewRow"
  let-onAction="onAction"
>
  <tr class="position-relative" [class.new-row]="isNewRow">
    <td>
      <img class="new-icon" *ngIf="isNewRow" src="assets/icons/new.svg" />
    </td>
    <td>
      <mat-form-field appearance="outline" class="d-flex">
        <input
          matInput
          placeholder="Title"
          [(ngModel)]="event.title"
          required
        />
      </mat-form-field>
    </td>
    <td>
      <mat-button-toggle-group [(ngModel)]="event.priority">
        <mat-button-toggle [value]="priorities.Critical"
          >Critical</mat-button-toggle
        >
        <mat-button-toggle [value]="priorities.Essential"
          >Essential</mat-button-toggle
        >
        <mat-button-toggle [value]="priorities.Standard"
          >Standard</mat-button-toggle
        >
      </mat-button-toggle-group>
    </td>
    <td class="date-range-td">
      <mat-form-field appearance="outline" class="d-flex">
        <mat-date-range-input [rangePicker]="rangePicker">
          <input
            matStartDate
            [(ngModel)]="event.start"
            placeholder="Start date"
            required
          />
          <input
            required
            matEndDate
            [(ngModel)]="event.end"
            placeholder="End date"
          />
        </mat-date-range-input>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="rangePicker"
        ></mat-datepicker-toggle>
        <mat-date-range-picker #rangePicker></mat-date-range-picker>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field appearance="outline" class="d-flex">
        <mat-select
          id="employeeSelect"
          [(ngModel)]="event.employeeIds"
          placeholder="Employee"
          multiple
        >
          <mat-select-trigger>
            {{ getDisplayEmployee(event.employeeIds) }}
          </mat-select-trigger>
          <mat-option>
            <ngx-mat-select-search
              [formControl]="employeeFilterCtrl"
              placeholderLabel="Type to search"
            ></ngx-mat-select-search>
          </mat-option>
          <div class="cursor-pointer" (click)="event.employeesIds = []">
            <mat-option class="none">-- None --</mat-option>
          </div>
          <mat-option
            *ngFor="let employee of filteredEmployees | async"
            [value]="employee.id"
          >
            <div class="d-flex flex-column">
              <span> {{ employee.firstName }} {{ employee.lastName }} </span>
              <div>
                <span
                  class="position-font"
                  *ngFor="let position of employee.positions"
                >
                  {{ position }}</span
                >
              </div>
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </td>
    <td>
      <div class="action-column">
        <button
          class="w-100"
          type="button"
          mat-flat-button
          color="accent"
          (click)="onDelete(event)"
        >
          Delete
        </button>
        <button
          [disabled]="!canUpdateOrAddEvent(event)"
          class="w-100"
          type="button"
          mat-flat-button
          color="primary"
          (click)="onAction(event)"
        >
          {{ actionButtonText }}
        </button>
      </div>
    </td>
  </tr>
</ng-template>
