@import "/../src/colors.scss";

.small-mat-icon {
  min-width: 0px;
  mat-icon {
    margin: 0;
  }
}

.supply-list {
  padding-left: 0;
  li {
    display: flex;
    list-style-type: none;
    margin-bottom: 0;

    span:first-of-type {
      padding-left: 0.3rem;
    }
  }
}

.border-list {
  border: 1px solid transparent;
  border-radius: 4px;

  &:not(.form):hover {
    border-color: $logo-color;
  }
}
