@use "@angular/material" as mat;

@include mat.core();

$md-primary: (
  50: #ffede3,
  100: #ffd2b9,
  200: #ffb58b,
  300: #ff975c,
  400: #ff8039,
  500: #ff6a16,
  600: #ff6213,
  700: #ff5710,
  800: #ff4d0c,
  900: #ff3c06,
  A100: #ffffff,
  A200: #fff5f3,
  A400: #ffcbc0,
  A700: #ffb6a7,
  contrast: (
    50: #000000,
    100: #000000,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-accent: (
  50: #fefefe,
  100: #fcfcfc,
  200: #fafafa,
  300: #f8f8f8,
  400: #f7f7f7,
  500: #f5f5f5,
  600: #f4f4f4,
  700: #f2f2f2,
  800: #f0f0f0,
  900: #eeeeee,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$onibi-primary: mat.define-palette($md-primary);
$onibi-accent: mat.define-palette($md-accent);

$onibi-theme: mat.define-light-theme(
  (
    color: (
      primary: $onibi-primary,
      accent: $onibi-accent,
    ),
    typography: mat.define-typography-config(),
    density: -1,
  )
);

@include mat.all-component-themes($onibi-theme);
@include mat.form-field-density(-5);
@import "colors.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
  letter-spacing: 1.25px !important;
  text-transform: uppercase !important;
  border-radius: 20rem !important;
  white-space: nowrap;

  &.mat-primary {
    --mat-mdc-fab-color: white !important;
    --mdc-filled-button-label-text-color: white !important;
    --mdc-protected-button-label-text-color: white !important;
    --mdc-outlined-button-outline-color: map-get($md-primary, 500) !important;
  }
}

.mat-mdc-form-field-icon-suffix {
  position: absolute !important;
  right: 0;
}

button[mat-icon-button] {
  display: inline-flex;
}

/* scrollbar stuff start */
@import "./mixins.scss";
$scrollbar-backcolor: rgb(210, 210, 210);
$scrollbar-frontcolor: $logo-color;

:root {
  overflow-y: scroll;

  /* firefox */
  scrollbar-face-color: $scrollbar-frontcolor; /* Firefox 63 compatibility */
  scrollbar-track-color: $scrollbar-backcolor; /* Firefox 63 compatibility */
  scrollbar-color: $scrollbar-frontcolor $scrollbar-backcolor;
  @include scrollbar-width;

  ::-webkit-scrollbar-track {
    background: $scrollbar-backcolor;
  }
  ::-webkit-scrollbar-thumb {
    background-color: $scrollbar-frontcolor;
  }
}

textarea {
  @include scrollbar-width;
}
div {
  @include scrollbar-width;
}
/* scrollbar stuff end */

.action-icon {
  width: 20px;
  filter: invert(1);

  &:hover {
    filter: invert(0.7);
  }
}

.content-top-shadow-container {
  $radius: 1.8rem;
  border-radius: $radius $radius 0 0;
  background-color: white;
  width: 100%;
  box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.25);
  position: relative;

  .spinner-container {
    position: absolute;
    width: 100%;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    padding-top: 6rem;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 100;
    border-radius: $radius;
  }

  .content-container-header {
    padding: $radius;
  }
}

th {
  font-weight: bold !important;
}
