<mat-progress-bar
  mode="indeterminate"
  [ngStyle]="{ visibility: loading ? 'visible' : 'hidden' }"
></mat-progress-bar>
<h1 mat-dialog-title>Edit Employee</h1>
<div mat-dialog-content class="dialog-content">
  <form [formGroup]="editEmployeeForm" autocomplete="off">
    <fieldset [disabled]="loading" class="row mt-3">
      <div class="col-12 col-md-6">
        <div class="row">
          <label class="mb-1" for="emailInput" appRequiredStar>Email</label>
          <mat-form-field appearance="outline">
            <input
              id="emailInput"
              matInput
              placeholder="Email"
              formControlName="email"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="row">
          <label class="mb-1" for="firstNameInput" appRequiredStar
            >First Name</label
          >
          <mat-form-field appearance="outline">
            <input
              id="firstNameInput"
              matInput
              placeholder="First Name"
              formControlName="firstName"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="row">
          <label class="mb-1" for="lastNameInput" appRequiredStar
            >Last Name</label
          >
          <mat-form-field appearance="outline">
            <input
              id="lastNameInput"
              matInput
              placeholder="Last Name"
              formControlName="lastName"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="row">
          <label class="mb-1" for="supervisorSelect" appRequiredStar
            >Supervisors</label
          >
          <mat-form-field appearance="outline">
            <mat-select
              id="supervisorSelect"
              formControlName="supervisors"
              placeholder="Supervisors"
            >
              <mat-option>
                <ngx-mat-select-search
                  [formControl]="supervisorFilterCtrl"
                  placeholderLabel="Type to search"
                ></ngx-mat-select-search>
              </mat-option>
              <mat-option class="none">-- None --</mat-option>
              <mat-option
                *ngFor="let supervisor of filteredSupervisors | async"
                [value]="supervisor"
              >
                {{ supervisor }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="row">
          <label class="mb-1" for="cityInput" appRequiredStar>City</label>
          <mat-form-field appearance="outline">
            <input
              id="cityInput"
              matInput
              placeholder="City"
              formControlName="city"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="row">
          <label class="mb-1" for="restaurantIdInput" appRequiredStar
            >Restaurant Id</label
          >
          <mat-form-field appearance="outline">
            <input
              pattern="[1-9]*"
              id="restaurantIdInput"
              matInput
              placeholder="Restaurant Id"
              formControlName="restaurantId"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="row">
          <label class="mb-1" for="positionSelect" appRequiredStar
            >Positions</label
          >
          <mat-form-field appearance="outline">
            <mat-select
              multiple
              id="positionSelect"
              formControlName="positions"
              placeholder="Position"
            >
              <mat-option>
                <ngx-mat-select-search
                  [formControl]="positionFilterCtrl"
                  placeholderLabel="Type to search"
                ></ngx-mat-select-search>
              </mat-option>
              <div
                class="cursor-pointer"
                (click)="editEmployeeForm.controls.positions.reset()"
              >
                <mat-option class="none">-- None --</mat-option>
              </div>
              <mat-option
                *ngFor="let position of filteredPositions | async"
                [value]="position"
              >
                {{ position }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <p>
          Please note that certain form controls may come pre-filled with data
          or be restricted from modification, depending on your assigned role
          within system. Your access and editing permissions will be tailored to
          your role to ensure proper data management and security
        </p>
      </div>
    </fieldset>
  </form>
</div>
<div mat-dialog-actions class="justify-content-end">
  <button mat-button (click)="onClose()">Close</button>
  <button
    mat-button
    (click)="editUser()"
    [disabled]="loading || editEmployeeForm.invalid"
    color="primary"
    cdkFocusInitial
  >
    I Accept
  </button>
</div>
