@import "/src/colors.scss";

.message-list-element,
.notification-list-element {
  padding: 0.5rem;
  border: solid 1px transparent;
  border-radius: 5px;

  &.viewed {
    font-weight: bold;
  }
}

.message-list-element {
  display: flex;

  div {
    width: 100%;

    div {
      display: flex;

      span:nth-of-type(2) {
        margin-left: auto;
      }
    }
  }

  &:hover {
    border-color: $logo-color;
  }
}

.notification-list-element {
  &:hover {
    border-color: $notification-color;
  }
}

ul {
  list-style-type: none;
  padding: 0;
}
