.details {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  .common-content {
    display: flex;
    flex-direction: row;
    div:nth-of-type(1) {
      ul {
        list-style-type: none;
        margin: 0;
      }
      width: 50%;
    }

    div:nth-of-type(2) {
      display: flex;
      flex-direction: column;
    }

    .ingredients {
      display: flex;
      ul {
        font-family: "CourierPrime";
        list-style-type: none;
        padding: 0;
        li {
          white-space: nowrap;
        }
      }
    }
  }
}
