table {
  border-collapse: collapse;

  tr {
    &:not(.last-tr) {
      border-bottom: 1px solid #ccc;
    }

    td {
      padding-top: 1rem;

      .ingredient-line {
        color: #adadad;
      }
    }
  }
}
