<div class="w-100">
  <div *ngIf="showMessageList" class="d-flex flex-row justify-content-between">
    <h3>Messages</h3>
    <div>
      <button
        (click)="showNewMessage = true"
        class="me-2"
        mat-flat-button
        color="primary"
      >
        New Message
      </button>
      <button mat-flat-button color="primary">Clear</button>
    </div>
  </div>

  <ul *ngIf="showMessageList">
    <mat-tab-group (selectedTabChange)="onTabChange($event)">
      <mat-tab label="Inbox">
        <ng-container
          *ngTemplateOutlet="messageList; context: { messages: inboxMessages }"
        ></ng-container>
      </mat-tab>
      <mat-tab label="Outbox">
        <ng-container
          *ngTemplateOutlet="messageList; context: { messages: outboxMessages }"
        ></ng-container>
      </mat-tab>
    </mat-tab-group>
  </ul>
  <div *ngIf="showMessageView">
    <ng-container *ngTemplateOutlet="backToInbox"></ng-container>
    <app-message-view
      (replyMessage)="onReply($event)"
      class="mt-1"
      [message]="viewedMessage"
    ></app-message-view>
  </div>

  <div *ngIf="showNewMessage">
    <ng-container *ngTemplateOutlet="backToInbox"></ng-container>
    <app-new-message
      [title]="replyMessage.title"
      [receiverId]="replyMessage.receiverId"
      [text]="replyMessage.text"
      (messageSent)="onMessageSent($event)"
    ></app-new-message>
  </div>
</div>

<ng-template #messageListElementPlaceholder>
  <div class="mt-4">
    <div class="wrapper">
      <ngx-skeleton-loader
        [theme]="{
          width: '80%',
          'border-radius': '0',
          height: '15px',
          'margin-bottom': '10px'
        }"
      ></ngx-skeleton-loader>
    </div>
    <div class="wrapper">
      <ngx-skeleton-loader
        [theme]="{
          width: '90%',
          'border-radius': '0',
          height: '15px',
          'margin-bottom': '10px'
        }"
      ></ngx-skeleton-loader>
    </div>
    <div class="wrapper">
      <ngx-skeleton-loader
        [theme]="{
          width: '60%',
          'border-radius': '0',
          height: '15px',
          'margin-bottom': '10px'
        }"
      ></ngx-skeleton-loader>
    </div>
  </div>
</ng-template>

<ng-template #messageElement let-message="message">
  <div
    class="message-list-element cursor-pointer"
    [class.viewed]="!message.isViewed"
    (click)="viewMessage(message.id)"
  >
    <div class="d-flex justify-content-between">
      <span>{{ message.authorName }}</span>
      <span>{{ message.sentTime | date : "MMM dd, yyyy 'at' hh:mm a" }}</span>
    </div>
    <span class="mt-2">{{ message.title }}</span>
  </div>
</ng-template>

<ng-template #messageList let-messages="messages">
  <ng-container [ngSwitch]="isLoadingList">
    <ng-container *ngSwitchCase="true">
      <li *ngFor="let _ of [].constructor(3)">
        <ng-container *ngTemplateOutlet="messageListElementPlaceholder">
        </ng-container>
      </li>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <li *ngFor="let message of messages; last as last">
        <ng-container
          *ngTemplateOutlet="messageElement; context: { message: message }"
        ></ng-container>
        <mat-divider *ngIf="!last"></mat-divider>
      </li>
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #backToInbox>
  <div class="position-absolute d-flex">
    <button
      (click)="backToMessageList()"
      mat-icon-button
      aria-label="Back to message list"
      #backButton
    >
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
    <span
      class="mb-auto mt-auto cursor-pointer"
      (click)="backButton._elementRef.nativeElement.click()"
    >
      Back To Inbox</span
    >
  </div>
</ng-template>
