USE [master]
GO
/****** Object:  Database [Onibi_Pro]    Script Date: 29.01.2024 00:18:56 ******/
CREATE DATABASE [Onibi_Pro]
 CONTAINMENT = NONE
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Onibi_Pro].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Onibi_Pro]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 29.01.2024 00:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Couriers]    Script Date: 29.01.2024 00:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Couriers](
	[CourierId] [uniqueidentifier] NOT NULL,
	[RegionalManagerId] [uniqueidentifier] NULL,
	[Phone] [nvarchar](max) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Couriers] PRIMARY KEY CLUSTERED 
(
	[CourierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeePositions]    Script Date: 29.01.2024 00:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeePositions](
	[EmployeeId] [uniqueidentifier] NOT NULL,
	[EmployeeRestaurantId] [uniqueidentifier] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Position] [int] NOT NULL,
 CONSTRAINT [PK_EmployeePositions] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC,
	[EmployeeRestaurantId] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 29.01.2024 00:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeId] [uniqueidentifier] NOT NULL,
	[RestaurantId] [uniqueidentifier] NOT NULL,
	[FirstName] [nvarchar](250) NOT NULL,
	[LastName] [nvarchar](250) NOT NULL,
	[Email] [nvarchar](250) NOT NULL,
	[City] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC,
	[RestaurantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeesSchedules]    Script Date: 29.01.2024 00:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeesSchedules](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [uniqueidentifier] NOT NULL,
	[ScheduleId] [uniqueidentifier] NOT NULL,
	[ScheduleRestaurantId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_EmployeesSchedules] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ingredients]    Script Date: 29.01.2024 00:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingredients](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Unit] [nvarchar](max) NOT NULL,
	[Quantity] [decimal](18, 2) NOT NULL,
	[MenuItemId] [uniqueidentifier] NOT NULL,
	[MenuItemMenuId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Ingredients] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Managers]    Script Date: 29.01.2024 00:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Managers](
	[ManagerId] [uniqueidentifier] NOT NULL,
	[RestaurantId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Managers] PRIMARY KEY CLUSTERED 
(
	[ManagerId] ASC,
	[RestaurantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuItems]    Script Date: 29.01.2024 00:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuItems](
	[MenuItemId] [uniqueidentifier] NOT NULL,
	[MenuId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_MenuItems] PRIMARY KEY CLUSTERED 
(
	[MenuItemId] ASC,
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menus]    Script Date: 29.01.2024 00:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menus](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Menus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItem]    Script Date: 29.01.2024 00:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItem](
	[MenuItemId] [uniqueidentifier] NOT NULL,
	[Quantity] [int] NOT NULL,
	[OrderId] [uniqueidentifier] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_OrderItem] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 29.01.2024 00:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [uniqueidentifier] NOT NULL,
	[OrderTime] [datetime2](7) NOT NULL,
	[IsCancelled] [bit] NOT NULL,
	[CancelledTime] [datetime2](7) NULL,
	[RestaurantId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Packages]    Script Date: 29.01.2024 00:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Packages](
	[PackageId] [uniqueidentifier] NOT NULL,
	[DestinationRestaurant] [uniqueidentifier] NOT NULL,
	[Manager] [uniqueidentifier] NOT NULL,
	[RegionalManager] [uniqueidentifier] NOT NULL,
	[SourceRestaurant] [uniqueidentifier] NULL,
	[Courier] [uniqueidentifier] NULL,
	[Origin_Street] [nvarchar](max) NULL,
	[Origin_City] [nvarchar](max) NULL,
	[Origin_PostalCode] [nvarchar](max) NULL,
	[Origin_Country] [nvarchar](max) NULL,
	[Destination_Street] [nvarchar](max) NOT NULL,
	[Destination_City] [nvarchar](max) NOT NULL,
	[Destination_PostalCode] [nvarchar](max) NOT NULL,
	[Destination_Country] [nvarchar](max) NOT NULL,
	[Status] [int] NOT NULL,
	[Message] [nvarchar](250) NOT NULL,
	[IsUrgent] [bit] NOT NULL,
	[Ingredients] [nvarchar](max) NOT NULL,
	[Until] [datetime2](7) NOT NULL,
	[AvailableTransitions] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Packages] PRIMARY KEY CLUSTERED 
(
	[PackageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegionalManagerRestaurantIds]    Script Date: 29.01.2024 00:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegionalManagerRestaurantIds](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RestaurantId] [uniqueidentifier] NOT NULL,
	[RegionalManagerId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_RegionalManagerRestaurantIds] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegionalManagers]    Script Date: 29.01.2024 00:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegionalManagers](
	[RegionalManagerId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_RegionalManagers] PRIMARY KEY CLUSTERED 
(
	[RegionalManagerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Restaurants]    Script Date: 29.01.2024 00:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Restaurants](
	[Id] [uniqueidentifier] NOT NULL,
	[Address_Street] [nvarchar](max) NOT NULL,
	[Address_City] [nvarchar](max) NOT NULL,
	[Address_PostalCode] [nvarchar](max) NOT NULL,
	[Address_Country] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Restaurants] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedules]    Script Date: 29.01.2024 00:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedules](
	[ScheduleId] [uniqueidentifier] NOT NULL,
	[RestaurantId] [uniqueidentifier] NOT NULL,
	[Priority] [nvarchar](max) NOT NULL,
	[Title] [nvarchar](125) NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Schedules] PRIMARY KEY CLUSTERED 
(
	[ScheduleId] ASC,
	[RestaurantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserPasswords]    Script Date: 29.01.2024 00:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPasswords](
	[UserId] [uniqueidentifier] NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_UserPasswords] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 29.01.2024 00:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[UserType] [nvarchar](max) NOT NULL,
	[IsEmailConfirmed] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20231210003309_InitialCreate', N'7.0.14')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20231210163704_InitialCreate2', N'7.0.14')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20231210163934_InitialCreate3', N'7.0.14')
INSERT [dbo].[Couriers] ([CourierId], [RegionalManagerId], [Phone], [UserId]) VALUES (N'ca856ca6-7608-4f69-b719-78a1470a3522', N'f3848a49-1d62-4bc9-8b9b-549a3dbd3475', N'1234234', N'f0658c94-aab2-41c4-b3ac-9445f8c72da6')
INSERT [dbo].[Couriers] ([CourierId], [RegionalManagerId], [Phone], [UserId]) VALUES (N'f85f7997-9c32-43eb-9ece-a8039b83e036', N'f3848a49-1d62-4bc9-8b9b-549a3dbd3475', N'twoja stara', N'e7a4344b-6141-422d-9f61-5421958ed8b4')
SET IDENTITY_INSERT [dbo].[EmployeePositions] ON 

INSERT [dbo].[EmployeePositions] ([EmployeeId], [EmployeeRestaurantId], [Id], [Position]) VALUES (N'6485d55a-6a8b-4044-8832-131972631446', N'e2e115cf-4a20-40e4-add5-67cf34788a0a', 122, 2)
INSERT [dbo].[EmployeePositions] ([EmployeeId], [EmployeeRestaurantId], [Id], [Position]) VALUES (N'6485d55a-6a8b-4044-8832-131972631446', N'e2e115cf-4a20-40e4-add5-67cf34788a0a', 123, 3)
INSERT [dbo].[EmployeePositions] ([EmployeeId], [EmployeeRestaurantId], [Id], [Position]) VALUES (N'6b223a57-e41a-4866-b500-152056ecc3bc', N'196ff048-cdc3-4c7e-a411-87feaa249ac5', 79, 2)
GO
SET IDENTITY_INSERT [dbo].[EmployeePositions] OFF
INSERT [dbo].[Employees] ([EmployeeId], [RestaurantId], [FirstName], [LastName], [Email], [City]) VALUES (N'6485d55a-6a8b-4044-8832-131972631446', N'e2e115cf-4a20-40e4-add5-67cf34788a0a', N'Jane', N'Smith', N'jane.smith@example.com', N'Chicago')
INSERT [dbo].[Employees] ([EmployeeId], [RestaurantId], [FirstName], [LastName], [Email], [City]) VALUES (N'6b223a57-e41a-4866-b500-152056ecc3bc', N'196ff048-cdc3-4c7e-a411-87feaa249ac5', N'Jane', N'Smith', N'jane.smith@example.com', N'New York')
INSERT [dbo].[Employees] ([EmployeeId], [RestaurantId], [FirstName], [LastName], [Email], [City]) VALUES (N'0cbc0f1b-2f6c-4255-a534-1f9e03bdabb9', N'e2e115cf-4a20-40e4-add5-67cf34788a0a', N'Alice', N'Wonderchef', N'alice.wonderf@example.com', N'Foodsville')
SET IDENTITY_INSERT [dbo].[EmployeesSchedules] ON 

INSERT [dbo].[EmployeesSchedules] ([Id], [EmployeeId], [ScheduleId], [ScheduleRestaurantId]) VALUES (2, N'0f73e4d1-1030-4b4f-8bc8-3eabf743c991', N'c41f23c1-31d0-4460-ab4c-1ac56c9967b8', N'e2e115cf-4a20-40e4-add5-67cf34788a0a')
INSERT [dbo].[EmployeesSchedules] ([Id], [EmployeeId], [ScheduleId], [ScheduleRestaurantId]) VALUES (3, N'fcb5c1c2-2d58-4393-a20a-618cf76552e3', N'c41f23c1-31d0-4460-ab4c-1ac56c9967b8', N'e2e115cf-4a20-40e4-add5-67cf34788a0a')
INSERT [dbo].[EmployeesSchedules] ([Id], [EmployeeId], [ScheduleId], [ScheduleRestaurantId]) VALUES (17, N'6485d55a-6a8b-4044-8832-131972631446', N'b48d1430-2df5-4146-840e-949dd855da0a', N'e2e115cf-4a20-40e4-add5-67cf34788a0a')
SET IDENTITY_INSERT [dbo].[EmployeesSchedules] OFF
SET IDENTITY_INSERT [dbo].[Ingredients] ON 

INSERT [dbo].[Ingredients] ([Id], [Name], [Unit], [Quantity], [MenuItemId], [MenuItemMenuId]) VALUES (19, N'Grilled Chicken', N'Grams', CAST(200.00 AS Decimal(18, 2)), N'038c4a1f-d524-4461-8fb3-1183ebb627dc', N'e5138d89-0d89-473c-978e-a1bd74923487')
INSERT [dbo].[Ingredients] ([Id], [Name], [Unit], [Quantity], [MenuItemId], [MenuItemMenuId]) VALUES (20, N'Mixed Greens', N'Grams', CAST(150.00 AS Decimal(18, 2)), N'038c4a1f-d524-4461-8fb3-1183ebb627dc', N'e5138d89-0d89-473c-978e-a1bd74923487')
INSERT [dbo].[Ingredients] ([Id], [Name], [Unit], [Quantity], [MenuItemId], [MenuItemMenuId]) VALUES (21, N'Cherry Tomatoes', N'Pieces', CAST(5.00 AS Decimal(18, 2)), N'038c4a1f-d524-4461-8fb3-1183ebb627dc', N'e5138d89-0d89-473c-978e-a1bd74923487')
SET IDENTITY_INSERT [dbo].[Ingredients] OFF
INSERT [dbo].[Managers] ([ManagerId], [RestaurantId], [UserId]) VALUES (N'6a389f6d-cbbf-4c6c-a567-c8614e6ff398', N'd8e4e33e-1b62-4ccb-9eb0-6efe7e0f0161', N'bd966720-7a2e-44bb-9698-2b574d175713')
INSERT [dbo].[Managers] ([ManagerId], [RestaurantId], [UserId]) VALUES (N'05b28a71-5a72-4191-9b74-d117416b4f7a', N'd8e4e33e-1b62-4ccb-9eb0-6efe7e0f0161', N'd025a95e-6b84-40c8-ad63-4f0f59a250d2')
INSERT [dbo].[Managers] ([ManagerId], [RestaurantId], [UserId]) VALUES (N'b65a70dd-0530-46cf-9ea2-ed2f178f91f2', N'e2e115cf-4a20-40e4-add5-67cf34788a0a', N'e7a4344b-6141-422d-9f61-5421958ed8b4')
INSERT [dbo].[MenuItems] ([MenuItemId], [MenuId], [Name], [Price], [IsDeleted]) VALUES (N'038c4a1f-d524-4461-8fb3-1183ebb627dc', N'e5138d89-0d89-473c-978e-a1bd74923487', N'Grilled Chicken Salad', CAST(8.99 AS Decimal(18, 2)), 0)
INSERT [dbo].[MenuItems] ([MenuItemId], [MenuId], [Name], [Price], [IsDeleted]) VALUES (N'3b8d205d-5e0f-4aff-aea0-14346be06685', N'81deca71-e577-44e1-aa63-c8403065d03c', N'test item', CAST(0.05 AS Decimal(18, 2)), 0)
INSERT [dbo].[MenuItems] ([MenuItemId], [MenuId], [Name], [Price], [IsDeleted]) VALUES (N'e0708ec6-ee40-4042-b94c-5a7a1745d40e', N'e5138d89-0d89-473c-978e-a1bd74923487', N'Classic Margherita Pizza', CAST(10.99 AS Decimal(18, 2)), 0)
INSERT [dbo].[Menus] ([Id], [Name]) VALUES (N'e5138d89-0d89-473c-978e-a1bd74923487', N'Deluxe Menu')
INSERT [dbo].[Menus] ([Id], [Name]) VALUES (N'81deca71-e577-44e1-aa63-c8403065d03c', N'test menu')
SET IDENTITY_INSERT [dbo].[OrderItem] ON 

INSERT [dbo].[OrderItem] ([MenuItemId], [Quantity], [OrderId], [Id]) VALUES (N'61256c12-1ded-4365-a5f6-fedee536b37b', 1435453, N'061605c5-4e06-453e-a9df-1a7bb4e7ee4a', 33)
INSERT [dbo].[OrderItem] ([MenuItemId], [Quantity], [OrderId], [Id]) VALUES (N'61256c12-1ded-4365-a5f6-fedee536b37b', 5, N'ccffa2fa-d8ae-4c9c-85cd-3e82951b3313', 32)
INSERT [dbo].[OrderItem] ([MenuItemId], [Quantity], [OrderId], [Id]) VALUES (N'ef22833a-c67a-47e8-8a26-d455a5a2818b', 3, N'6f0c65fa-ed6d-467f-8386-558f212a64b2', 29)
SET IDENTITY_INSERT [dbo].[OrderItem] OFF
INSERT [dbo].[Orders] ([Id], [OrderTime], [IsCancelled], [CancelledTime], [RestaurantId]) VALUES (N'061605c5-4e06-453e-a9df-1a7bb4e7ee4a', CAST(N'2023-12-31T15:32:16.2058558' AS DateTime2), 1, CAST(N'2023-12-31T15:32:28.1170017' AS DateTime2), N'e2e115cf-4a20-40e4-add5-67cf34788a0a')
INSERT [dbo].[Orders] ([Id], [OrderTime], [IsCancelled], [CancelledTime], [RestaurantId]) VALUES (N'ccffa2fa-d8ae-4c9c-85cd-3e82951b3313', CAST(N'2023-12-29T21:13:38.4445202' AS DateTime2), 1, CAST(N'2023-12-29T21:13:49.4262891' AS DateTime2), N'e2e115cf-4a20-40e4-add5-67cf34788a0a')
INSERT [dbo].[Orders] ([Id], [OrderTime], [IsCancelled], [CancelledTime], [RestaurantId]) VALUES (N'6f0c65fa-ed6d-467f-8386-558f212a64b2', CAST(N'2023-12-29T20:59:07.9473439' AS DateTime2), 1, CAST(N'2023-12-29T21:13:15.1943390' AS DateTime2), N'e2e115cf-4a20-40e4-add5-67cf34788a0a')
SET IDENTITY_INSERT [dbo].[RegionalManagerRestaurantIds] ON 

INSERT [dbo].[RegionalManagerRestaurantIds] ([Id], [RestaurantId], [RegionalManagerId]) VALUES (1, N'e2e115cf-4a20-40e4-add5-67cf34788a0a', N'f3848a49-1d62-4bc9-8b9b-549a3dbd3475')
INSERT [dbo].[RegionalManagerRestaurantIds] ([Id], [RestaurantId], [RegionalManagerId]) VALUES (2, N'845bf26a-97d5-4ef6-ab67-9734019494d5', N'f3848a49-1d62-4bc9-8b9b-549a3dbd3475')
INSERT [dbo].[RegionalManagerRestaurantIds] ([Id], [RestaurantId], [RegionalManagerId]) VALUES (3, N'd8e4e33e-1b62-4ccb-9eb0-6efe7e0f0161', N'f3848a49-1d62-4bc9-8b9b-549a3dbd3475')
SET IDENTITY_INSERT [dbo].[RegionalManagerRestaurantIds] OFF
INSERT [dbo].[RegionalManagers] ([RegionalManagerId], [UserId]) VALUES (N'b5ba9e2d-7a9f-4d14-97e8-3b85aade4dce', N'f4968894-0b55-40c4-aed4-7fc1762b8195')
INSERT [dbo].[RegionalManagers] ([RegionalManagerId], [UserId]) VALUES (N'87f810dc-81df-4969-92a3-c18d0a74d8b5', N'40b7bd33-6e61-4156-8a6b-852c8411de5d')
INSERT [dbo].[RegionalManagers] ([RegionalManagerId], [UserId]) VALUES (N'f3848a49-1d62-4bc9-8b9b-549a3dbd3475', N'f59cf698-6f65-4902-8593-87e790931cbf')
INSERT [dbo].[Restaurants] ([Id], [Address_Street], [Address_City], [Address_PostalCode], [Address_Country]) VALUES (N'00e062e2-57d4-4b22-a6f4-009b785f6583', N'123 Main Street', N'Anytown', N'12345', N'USA')
INSERT [dbo].[Restaurants] ([Id], [Address_Street], [Address_City], [Address_PostalCode], [Address_Country]) VALUES (N'd7163a81-3605-4036-9e56-0ad014c7b9fc', N'123 Main Street', N'Anytown', N'12345', N'USA')
INSERT [dbo].[Restaurants] ([Id], [Address_Street], [Address_City], [Address_PostalCode], [Address_Country]) VALUES (N'a89332ec-feda-44bc-bc09-223a600f6398', N'123 Main Street', N'Anytown', N'12345', N'USA')
INSERT [dbo].[Schedules] ([ScheduleId], [RestaurantId], [Priority], [Title], [StartDate], [EndDate]) VALUES (N'c41f23c1-31d0-4460-ab4c-1ac56c9967b8', N'e2e115cf-4a20-40e4-add5-67cf34788a0a', N'Standard', N'Test title2', CAST(N'2012-04-23T18:25:43.5110000' AS DateTime2), CAST(N'2012-04-23T18:25:43.5110000' AS DateTime2))
INSERT [dbo].[Schedules] ([ScheduleId], [RestaurantId], [Priority], [Title], [StartDate], [EndDate]) VALUES (N'1898632a-eaa0-46e5-a289-26442b2183f1', N'e2e115cf-4a20-40e4-add5-67cf34788a0a', N'Essential', N'test1234', CAST(N'2023-12-24T23:37:37.0000000' AS DateTime2), CAST(N'2023-12-24T23:37:37.0000000' AS DateTime2))
INSERT [dbo].[Schedules] ([ScheduleId], [RestaurantId], [Priority], [Title], [StartDate], [EndDate]) VALUES (N'ca88f9ef-1966-43f8-92a8-3cad1723a7a1', N'e2e115cf-4a20-40e4-add5-67cf34788a0a', N'Standard', N'fdgg', CAST(N'2023-12-24T22:19:01.0720000' AS DateTime2), CAST(N'2023-12-24T22:19:01.0720000' AS DateTime2))
INSERT [dbo].[UserPasswords] ([UserId], [Password]) VALUES (N'8683621d-5db1-4458-987f-0507408ec3ee', N'3f2r2U+/pGcqw2fXwVkG1erdIltqgC1JJwizv9/113Y6Q9DIn10nOzWCC7IvzAOPbVOFjMERnLa6FSRaLMMePg==.U97cBJbhSC/OEYpDNdF/Ik5IIhwIVlLPl9Ao7Olrf2IoVhfrT3gK+06Rnp1blDBDyljZp1gxdmanUoLplXnkkQ==')
INSERT [dbo].[UserPasswords] ([UserId], [Password]) VALUES (N'bd966720-7a2e-44bb-9698-2b574d175713', N't9MXwHK06aYX4v2Ir/CDct16QQGhSboApdW8wJgxWLdAiT7YODfeG94ZVcg+OUFLZUbhtgVB6jfjaVXv+KC+TQ==.15F5IsjqMIqONWhTzcedCnDP2DE53mOTNV+1+D/WcREkm6lJts0SVbG8M4Kz44PVHaSWfINriwBSzvOZjuFAxQ==')
INSERT [dbo].[UserPasswords] ([UserId], [Password]) VALUES (N'd025a95e-6b84-40c8-ad63-4f0f59a250d2', N'dpBoB03zfdyTVa8Z6kH/Y5/JuaHi0M62vRs3EFG/xFHQEwfSep7+4cc5DptAHG4gnMfNI98mu7PZ11O4tmwarQ==.POa4xCudabdKxWGoiu1q68AuEgxRM8MJn8AoFbnRzX2u5pqoG80/vMQtduWpIpnCrEH+g5tykP59CzjeCPqFLg==')
INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [Email], [UserType], [IsEmailConfirmed]) VALUES (N'8683621d-5db1-4458-987f-0507408ec3ee', N'John', N'Johnson', N'john1@john.com', N'Manager', 0)
INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [Email], [UserType], [IsEmailConfirmed]) VALUES (N'bd966720-7a2e-44bb-9698-2b574d175713', N'journal', N'user', N'journal@test.com', N'Manager', 1)
INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [Email], [UserType], [IsEmailConfirmed]) VALUES (N'd025a95e-6b84-40c8-ad63-4f0f59a250d2', N'dert', N'trerte', N'hkjhgkhj@dsd.bb', N'Manager', 0)
/****** Object:  Index [IX_Couriers_RegionalManagerId]    Script Date: 29.01.2024 00:18:56 ******/
CREATE NONCLUSTERED INDEX [IX_Couriers_RegionalManagerId] ON [dbo].[Couriers]
(
	[RegionalManagerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Couriers_UserId]    Script Date: 29.01.2024 00:18:56 ******/
CREATE NONCLUSTERED INDEX [IX_Couriers_UserId] ON [dbo].[Couriers]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Employees_RestaurantId]    Script Date: 29.01.2024 00:18:56 ******/
CREATE NONCLUSTERED INDEX [IX_Employees_RestaurantId] ON [dbo].[Employees]
(
	[RestaurantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmployeesSchedules_ScheduleId_ScheduleRestaurantId]    Script Date: 29.01.2024 00:18:56 ******/
CREATE NONCLUSTERED INDEX [IX_EmployeesSchedules_ScheduleId_ScheduleRestaurantId] ON [dbo].[EmployeesSchedules]
(
	[ScheduleId] ASC,
	[ScheduleRestaurantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Ingredients_MenuItemId_MenuItemMenuId]    Script Date: 29.01.2024 00:18:56 ******/
CREATE NONCLUSTERED INDEX [IX_Ingredients_MenuItemId_MenuItemMenuId] ON [dbo].[Ingredients]
(
	[MenuItemId] ASC,
	[MenuItemMenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Managers_RestaurantId]    Script Date: 29.01.2024 00:18:56 ******/
CREATE NONCLUSTERED INDEX [IX_Managers_RestaurantId] ON [dbo].[Managers]
(
	[RestaurantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Managers_UserId]    Script Date: 29.01.2024 00:18:56 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Managers_UserId] ON [dbo].[Managers]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MenuItems_MenuId]    Script Date: 29.01.2024 00:18:56 ******/
CREATE NONCLUSTERED INDEX [IX_MenuItems_MenuId] ON [dbo].[MenuItems]
(
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_OrderTime_IsCancelled]    Script Date: 29.01.2024 00:18:56 ******/
CREATE NONCLUSTERED INDEX [IX_Orders_OrderTime_IsCancelled] ON [dbo].[Orders]
(
	[OrderTime] DESC,
	[IsCancelled] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_RestaurantId]    Script Date: 29.01.2024 00:18:56 ******/
CREATE NONCLUSTERED INDEX [IX_Orders_RestaurantId] ON [dbo].[Orders]
(
	[RestaurantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Packages_DestinationRestaurant]    Script Date: 29.01.2024 00:18:56 ******/
CREATE NONCLUSTERED INDEX [IX_Packages_DestinationRestaurant] ON [dbo].[Packages]
(
	[DestinationRestaurant] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Packages_RegionalManager]    Script Date: 29.01.2024 00:18:56 ******/
CREATE NONCLUSTERED INDEX [IX_Packages_RegionalManager] ON [dbo].[Packages]
(
	[RegionalManager] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RegionalManagerRestaurantIds_RegionalManagerId]    Script Date: 29.01.2024 00:18:56 ******/
CREATE NONCLUSTERED INDEX [IX_RegionalManagerRestaurantIds_RegionalManagerId] ON [dbo].[RegionalManagerRestaurantIds]
(
	[RegionalManagerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RegionalManagers_UserId]    Script Date: 29.01.2024 00:18:56 ******/
CREATE NONCLUSTERED INDEX [IX_RegionalManagers_UserId] ON [dbo].[RegionalManagers]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Schedules_RestaurantId]    Script Date: 29.01.2024 00:18:56 ******/
CREATE NONCLUSTERED INDEX [IX_Schedules_RestaurantId] ON [dbo].[Schedules]
(
	[RestaurantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Couriers] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [UserId]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (N'') FOR [City]
GO
ALTER TABLE [dbo].[Managers] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [UserId]
GO
ALTER TABLE [dbo].[MenuItems] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [RestaurantId]
GO
ALTER TABLE [dbo].[Packages] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [Until]
GO
ALTER TABLE [dbo].[Packages] ADD  DEFAULT (N'') FOR [AvailableTransitions]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsEmailConfirmed]
GO
ALTER TABLE [dbo].[Couriers]  WITH CHECK ADD  CONSTRAINT [FK_Couriers_RegionalManagers_RegionalManagerId] FOREIGN KEY([RegionalManagerId])
REFERENCES [dbo].[RegionalManagers] ([RegionalManagerId])
GO
ALTER TABLE [dbo].[Couriers] CHECK CONSTRAINT [FK_Couriers_RegionalManagers_RegionalManagerId]
GO
ALTER TABLE [dbo].[Couriers]  WITH CHECK ADD  CONSTRAINT [FK_Couriers_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Couriers] CHECK CONSTRAINT [FK_Couriers_Users_UserId]
GO
ALTER TABLE [dbo].[EmployeePositions]  WITH CHECK ADD  CONSTRAINT [FK_EmployeePositions_Employees_EmployeeId_EmployeeRestaurantId] FOREIGN KEY([EmployeeId], [EmployeeRestaurantId])
REFERENCES [dbo].[Employees] ([EmployeeId], [RestaurantId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EmployeePositions] CHECK CONSTRAINT [FK_EmployeePositions_Employees_EmployeeId_EmployeeRestaurantId]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Restaurants_RestaurantId] FOREIGN KEY([RestaurantId])
REFERENCES [dbo].[Restaurants] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Restaurants_RestaurantId]
GO
ALTER TABLE [dbo].[EmployeesSchedules]  WITH CHECK ADD  CONSTRAINT [FK_EmployeesSchedules_Schedules_ScheduleId_ScheduleRestaurantId] FOREIGN KEY([ScheduleId], [ScheduleRestaurantId])
REFERENCES [dbo].[Schedules] ([ScheduleId], [RestaurantId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EmployeesSchedules] CHECK CONSTRAINT [FK_EmployeesSchedules_Schedules_ScheduleId_ScheduleRestaurantId]
GO
ALTER TABLE [dbo].[Ingredients]  WITH CHECK ADD  CONSTRAINT [FK_Ingredients_MenuItems_MenuItemId_MenuItemMenuId] FOREIGN KEY([MenuItemId], [MenuItemMenuId])
REFERENCES [dbo].[MenuItems] ([MenuItemId], [MenuId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ingredients] CHECK CONSTRAINT [FK_Ingredients_MenuItems_MenuItemId_MenuItemMenuId]
GO
ALTER TABLE [dbo].[Managers]  WITH CHECK ADD  CONSTRAINT [FK_Managers_Restaurants_RestaurantId] FOREIGN KEY([RestaurantId])
REFERENCES [dbo].[Restaurants] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Managers] CHECK CONSTRAINT [FK_Managers_Restaurants_RestaurantId]
GO
ALTER TABLE [dbo].[Managers]  WITH CHECK ADD  CONSTRAINT [FK_Managers_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Managers] CHECK CONSTRAINT [FK_Managers_Users_UserId]
GO
ALTER TABLE [dbo].[MenuItems]  WITH CHECK ADD  CONSTRAINT [FK_MenuItems_Menus_MenuId] FOREIGN KEY([MenuId])
REFERENCES [dbo].[Menus] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MenuItems] CHECK CONSTRAINT [FK_MenuItems_Menus_MenuId]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_OrderItem_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_OrderItem_Orders_OrderId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Restaurants_RestaurantId] FOREIGN KEY([RestaurantId])
REFERENCES [dbo].[Restaurants] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Restaurants_RestaurantId]
GO
ALTER TABLE [dbo].[Packages]  WITH CHECK ADD  CONSTRAINT [FK_Packages_RegionalManagers_RegionalManager] FOREIGN KEY([RegionalManager])
REFERENCES [dbo].[RegionalManagers] ([RegionalManagerId])
GO
ALTER TABLE [dbo].[Packages] CHECK CONSTRAINT [FK_Packages_RegionalManagers_RegionalManager]
GO
ALTER TABLE [dbo].[Packages]  WITH CHECK ADD  CONSTRAINT [FK_Packages_Restaurants_DestinationRestaurant] FOREIGN KEY([DestinationRestaurant])
REFERENCES [dbo].[Restaurants] ([Id])
GO
ALTER TABLE [dbo].[Packages] CHECK CONSTRAINT [FK_Packages_Restaurants_DestinationRestaurant]
GO
ALTER TABLE [dbo].[RegionalManagerRestaurantIds]  WITH CHECK ADD  CONSTRAINT [FK_RegionalManagerRestaurantIds_RegionalManagers_RegionalManagerId] FOREIGN KEY([RegionalManagerId])
REFERENCES [dbo].[RegionalManagers] ([RegionalManagerId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RegionalManagerRestaurantIds] CHECK CONSTRAINT [FK_RegionalManagerRestaurantIds_RegionalManagers_RegionalManagerId]
GO
ALTER TABLE [dbo].[RegionalManagers]  WITH CHECK ADD  CONSTRAINT [FK_RegionalManagers_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RegionalManagers] CHECK CONSTRAINT [FK_RegionalManagers_Users_UserId]
GO
ALTER TABLE [dbo].[Schedules]  WITH CHECK ADD  CONSTRAINT [FK_Schedules_Restaurants_RestaurantId] FOREIGN KEY([RestaurantId])
REFERENCES [dbo].[Restaurants] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Schedules] CHECK CONSTRAINT [FK_Schedules_Restaurants_RestaurantId]
GO
ALTER TABLE [dbo].[UserPasswords]  WITH CHECK ADD  CONSTRAINT [FK_UserPasswords_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserPasswords] CHECK CONSTRAINT [FK_UserPasswords_Users_UserId]
GO
USE [master]
GO
