<div class="container">
  <form [formGroup]="employeeSearchForm" class="row mt-3" autocomplete="off">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="row">
        <label class="mb-1" for="emailInput">Email</label>
        <mat-form-field appearance="outline">
          <input
            id="emailInput"
            matInput
            placeholder="Email"
            formControlName="email"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="row">
        <label class="mb-1" for="firstNameInput">First Name</label>
        <mat-form-field appearance="outline">
          <input
            id="firstNameInput"
            matInput
            placeholder="First Name"
            formControlName="firstName"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="row">
        <label class="mb-1" for="lastNameInput">Last Name</label>
        <mat-form-field appearance="outline">
          <input
            id="lastNameInput"
            matInput
            placeholder="Last Name"
            formControlName="lastName"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="row">
        <label class="mb-1" for="supervisorSelect">Supervisor</label>
        <mat-form-field appearance="outline">
          <mat-select
            id="supervisorSelect"
            formControlName="supervisors"
            placeholder="Supervisor"
          >
            <mat-option>
              <ngx-mat-select-search
                [formControl]="supervisorFilterCtrl"
                placeholderLabel="Type to search"
              ></ngx-mat-select-search>
            </mat-option>
            <mat-option class="none">-- None --</mat-option>
            <mat-option
              *ngFor="let supervisor of filteredSupervisors | async"
              [value]="supervisor"
            >
              {{ supervisor }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="row">
        <label class="mb-1" for="citySelect">City</label>
        <mat-form-field appearance="outline">
          <mat-select id="citySelect" formControlName="city" placeholder="City">
            <mat-option>
              <ngx-mat-select-search
                [formControl]="cityFilterCtrl"
                placeholderLabel="Type to search"
              ></ngx-mat-select-search>
            </mat-option>
            <mat-option class="none">-- None --</mat-option>
            <mat-option
              *ngFor="let city of filteredCities | async"
              [value]="city"
            >
              {{ city }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="row">
        <label class="mb-1" for="restaurantIdInput">Restaurant Id</label>
        <mat-form-field appearance="outline">
          <input
            pattern="[1-9]*"
            id="restaurantIdInput"
            matInput
            placeholder="Restaurant Id"
            formControlName="restaurantId"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mx-auto">
      <div class="row">
        <label class="mb-1" for="positionSelect">Position</label>
        <mat-form-field appearance="outline">
          <mat-select
            id="positionSelect"
            formControlName="positions"
            placeholder="Position"
          >
            <mat-option>
              <ngx-mat-select-search
                [formControl]="positionFilterCtrl"
                placeholderLabel="Type to search"
              ></ngx-mat-select-search>
            </mat-option>
            <mat-option class="none">-- None --</mat-option>
            <mat-option
              *ngFor="let position of filteredPositions | async"
              [value]="position"
            >
              {{ position }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="d-flex justify-content-around mt-3">
        <button type="button" mat-flat-button color="accent" (click)="reset()">
          Clear
        </button>
        <button
          type="submit"
          mat-flat-button
          color="primary"
          [disabled]="loading"
          (click)="searchEmployees()"
        >
          Search
        </button>
      </div>
    </div>
  </form>
</div>

<div class="content-top-shadow-container mt-5">
  <div class="content-container-header d-flex">
    <mat-spinner *ngIf="loading"></mat-spinner>
    <button
      type="button"
      class="ms-auto"
      mat-flat-button
      color="primary"
      [disabled]="loading"
      (click)="openAddEmployeeDialog()"
    >
      Add Employee
    </button>
  </div>
  <div class="mat-elevation-z8 container table-responsive" *ngIf="!loading">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef>First Name</th>
        <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef>Last Name</th>
        <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
      </ng-container>

      <ng-container matColumnDef="supervisors">
        <th mat-header-cell *matHeaderCellDef>Supervisors</th>
        <td mat-cell *matCellDef="let element">{{ element.supervisors }}</td>
      </ng-container>

      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef>City</th>
        <td mat-cell *matCellDef="let element">{{ element.city }}</td>
      </ng-container>

      <ng-container matColumnDef="restaurantId">
        <th mat-header-cell *matHeaderCellDef>Restaurant Id</th>
        <td mat-cell *matCellDef="let element">{{ element.restaurantId }}</td>
      </ng-container>

      <ng-container matColumnDef="positions">
        <th mat-header-cell *matHeaderCellDef>Positions</th>
        <td mat-cell *matCellDef="let element">{{ element.positions }}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="openEditEmployeeDialog(element)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>
</div>
